<fieldset id="abyss">
    <legend>Purgatory Abyss<span class="minimize">[+/-]</span></legend>
    <div class="main collapsible">

        <% if( started ) { %>

            <div>
                <b>Layer: <%=nextStorey%> Room: <%=1+(nextRoom-1)%25%></b><br/>
                <div>Room strategy: <a class="btn" fire="abyss" args="{save1:{}}" href="#">Save</a></div><br/>
                <div>Room strategy: <a class="btn" fire="abyss" args="{load:{}}" href="#">Load</a></div><br/>
            </div>
            <div>
                Auto clear:
                <a class='btn' href="#" fire="abyss" args="{auto: 25}">[1]</a>
                <a class='btn' href="#" fire="abyss" args="{auto: 50}">[2]</a>
                <a class='btn' href="#" fire="abyss" args="{auto: 75}">[3]</a>
                <a class='btn' href="#" fire="abyss" args="{auto: 100}">[4]</a>
                <a class='btn' href="#" fire="abyss" args="{auto: 125}">[5]</a>
            </div>

        <% } else { %>
                <div>Abyss was't started.</div>
        <% } %>

        <div>
            <b><%=statusMsg%></b>
        </div>

    </div>
</fieldset>
