<fieldset id="inventory">
    <legend>Alts<span class="minimize">[+/-]</span></legend>
    <div class="main collapsible">
        <div><span class="hint" hint="namepattern">Name pattern</span>: <input type="text" id="namepattern"/></div>
        <div><span class="hint" hint="pass">Password</span>: <input type="password" id="password"/></div>
        <div class="hint-info" hint="namepattern">
            <pre>
                At this moment you must use alts with name in certain string with numeric pattern, defined by syntax [from-to]
                Examples:
                longjohn[1-10] - if you have 10 alts names longjohn1, longjohn2, .., longjohn10
                long[1-10]john - if you have 10 alts names long1john, long2john, .., long10john
                NOTICE [UNPATTERNABLE NAMES]:
                If your alts are named with custom names, like altOne, altSecond, altThreeee,
                it is not supported now. If you want support for it, write me a feature request.
            </pre>
        </div>
        <div class="hint-info" hint="pass">
            <pre>
                All your alts must use same password.
                NOTICE [STORING PASSWORD]
                You must enter your password each time and i will never add ability to store it,
                it will be very unsafe. Same for alt names.
                NOTICE [MULTIPLE DIFFERENT PASSWORDS]
                If you want support for multiple passwords, write me a feature request.
            </pre>
        </div>

        <div><a class="btn" fire="start" args="{start:{}}">Start</a></div>
        <div>Logged now: <b><%=currentAltName%></b></div>
        <div><b><%=currentState%></b></div>
    </div>
</fieldset>
