<fieldset id="dungeon">
    <legend>Fullauto<span class="minimize">[+/-]</span></legend>
    <div class="main">
        <div><a class="btn" fire="fullauto" args="{alts: 'prev'}"  href="#">{{{PREVIOUS </a><a class="btn" fire="fullauto" args="{alts: 'next' }"  href="#"> NEXT}}}</a></div>
        <div>Now executing: <span class="hint" hint="plandetails"><%= plan && plan.code %></span></div>
        <div class="hint-info" hint="planedetails">
           <%= plan && JSON.stringify(plan, undefined, 2) %>
        </div>
        <div><a class="btn" fire="fullauto" args="{force: 'altroutine'}"  href="#">Activate plan "altroutine"</a></div>
        <div><a class="btn" fire="fullauto" args="{force: 'island100'}"  href="#">Activate plan "island100"</a></div>
        <div><a class="btn" fire="fullauto" args="{force: 'reset'}"  href="#">Activate plan "reset"</a></div>
    </div>
</fieldset>
