<fieldset id="inventory">
    <legend>Inventory<span class="minimize">[+/-]</span></legend>
    <div class="main collapsible">
        <div>Count:<%= count %></div>
        <div><b><%= statusMsg %></b></div>
        <div>Reload count <a class="btn" fire="inventory" args="{reload:{}}">Reload</a></div>
        <div>Open silver/bronze chests <a class="btn" fire="inventory" args="{open:{}}">Open</a></div>
        <div>Copper trash items <a class="btn" fire="inventory" args="{trash: 'sell'}">Sell</a></div>
        <% if( soldItem ) { %>
            <div>You sold an item <b><%=soldItem%></b>.</div>
        <% } %>

        <% if( !trashMode ) { %>
        <div>Start trash marking: <a class="btn" href="#" fire="inventory" args="{trash: 'start'}">Start</a></div>
        <% } %>
        <% if( trashMode ) { %>
        <div>Stop trash marking: <a class="btn" href="#" fire="inventory" args="{trash: 'stop'}">Stop</a></div>
        <% } %>
    </div>

</fieldset>
