<fieldset id="current">
    <legend>Current strategy</legend>
    <div><b><%=status%></b></div>
    <%
            var dep = deploy, ass = assigns, det = heroDetails, sol = soldiersData;//underscore visibility scope trick
            function info(code){
                var hero = dep.HeroSet_SetTroopStrategy_Req.attackTroopStrategy[code];
                if( hero == -1 ) return "N/A";
                if( !det[hero] ) return "None";

                var soldierName = "-";
                if( ass[hero] ) {
                    var soldierId = ass[hero].Hero_DeploySoldier_Req.soldierId;
                    soldierName = soldierId == 0 ? 'none' : (sol[soldierId] ? sol[soldierId].name : soldierId);
                }

                return det[hero].name + "<br/>[" + soldierName + "]";
            }
    %>
    <% if ( sync ) { %>
    <table>
        <tr><td><%= info('11') %></td><td><%= info('12') %></td><td><%= info('13') %></td><td><%= info('14') %></td></tr>
        <tr><td><%= info('21') %></td><td><%= info('22') %></td><td><%= info('23') %></td><td><%= info('24') %></td></tr>
    </table>
    <% if( depleted.length > 0 ) { %>
        <div style="font-weight:900; font-size: 14px; color:red">Recruit more!:
            <% _.each( depleted, function(soldierId){ %>
            <br/><%=soldiersData[soldierId] ? soldiersData[soldierId].name : soldierId %>
            <% }) %>
            <a href="#" fire="strategy" args="{ reset: {}}">Done</a>
        </div><% } %>
    <% } else { %>
        <div>Loading session... <span class="hint" hint="400">(?)</span></div>
        <div class="hint-info" hint="400">Communicating with cogbot plugin</br>
            in order to capture game session.</br>
            If takes too long, make sure game is being actually loaded.
        </div>
<% } %>
</fieldset>

<% if ( sync ) { %>
<fieldset id="save">
        <legend><span class="hint" hint="saveStr1">Save formation and assigns</span></legend>
        <ul>
            <li><a class="btn" fire="strategy" args="{save: 'default'}" href="#">Save as Default Strategy</a></li>
            <li><a class="btn" fire="strategy" args="{save: 'wboss'}" href="#">Save as World Boss Strategy</a>       </li>
        </ul>
        <div class="hint-info" hint="saveStr1">Save current attack formation and assigned soldiers. <br/>
            Secondary strategy is used when CogBot fails to load primary strategy due to depleted soldiers.<br/>
            Use it to rotate similar unit types, like Barks and Cateran Cavaliers.
            It will help you to reduce TSC usage and recruiting efforts.
        </div>
</fieldset>
<% } %>

<% if ( sync ) { %>
<fieldset id="load" class="<%=settings.minimize.load ? 'minimized' :'' %>">
    <legend>Loading information</legend>
    <% if( loaded ) { %>
    <div>Strategy <%=strategyCode%> was automatically loaded</div>
    <% } %>
    <div><a class="btn" href="#" fire="strategy" args="{load: 'default'}">Load Default Strategy</a></div>
</fieldset>
<% } %>
