<fieldset id="settings">
    <legend>Utilities <span class="minimize">[+/-]</span></legend>
    <div class="collapsible">

        <div><span class="hint" hint="u1">Hide</span> ads and Kong stuff <a href="#" class='btn' id="purge">Purge</a></div>
        <div class="hint-info" hint="u1">One-time remove distracting elements from Kong's game page</div>

        <div>World boss <span class="hint" hint="u2">spanking</span> <a href="#" class='btn' fireid="wboss">Start</a></div>
        <div class="hint-info" hint="u2">
            Press when on World Bass battle screen to spam auto-attack. Handy to get 'first'-hit' badge. <br/>
            WARNING: bug: can temporary multiply up to x5 your attack cooldown.
        </div>

    </div>
</fieldset>
