<fieldset id="abyss">
    <legend>Purgatory Abyss<span class="minimize">[+/-]</span></legend>
    <div class="main collapsible">
        <% if( started ) { %>
        <div>
            <b>Layer: <%=nextStorey%> Room: <%=1+(nextRoom-1)%25%></b>
            <div>Room strategy: <a class="btn" id="save-abyss" href="#">Save</a></div>
        </div>
        <div>
            <a class='btn' id="abyss-auto">Auto Mode</a>
            to <input type="number" id="abyss-end-room"/>
        </div>
        <% } else { %>
            <div>Abyss was't started.</div>
        <% } %>
        <div>
            <b><%=statusMsg%></b>
        </div>
    </div>
</fieldset>
