<%
        var ps = pos, gr = grid, aOn = autoOn, cPos = crawlPos, pth = path;

        function wrap(c){
            var cls = "cell ";
            if( aOn && cPos && cPos.x == x && cPos.y == y ) cls += 'crawl-location ';
            if( aOn && pth && _.find(pth, function(el){ return el.x == x && el.y == y }) ) cls += 'crawl-path';
            return '<span class="' + cls + '">' + c + '</span>';
        }

        function renderCell(x, y){
            if( ps.x == x && ps.y == y ) return wrap('@');
            var cell = gr[x][y];
            if( cell==null ) return wrap("&nbsp;");
            if( cell.visited ) return wrap(".");
            if( cell.type=='bs' ) return wrap("B");
            if( cell.type=='mo' ) return wrap("&");
            if( cell.type=='ev' ) return wrap("?");
            if( cell.type=='re' ) return wrap("$");
            if( cell.type=='it' ) return wrap("#");
            if( cell.type=='ex' ) return wrap(">");
            if( cell.type=='en' ) return wrap("<");

        }
%>

        <style>
            #dungeon-map {
            font-family: monospace;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: 4px;
            font-weight: 900;
            }
            .cell {
                border: 1px solid #FFF;
            }
            .crawl-path {
                border: 1px solid #00F;
            }
            .crawl-location {
                border: 1px solid #F00;
            }
        </style>

<fieldset id="dungeon">
    <legend>Dungeon<span class="minimize">[+/-]</span></legend>
    <% if( started && location ) { %>
        <div><%=location.city%> <%=location.difficulty%> <%=location.level%></div>
        <div>
            <table id="dungeon-map">
                <% for( var y = 0; y < 9; y++ ) { %>
                <tr>
                    <% for( var x = 0; x < 9; x++ ) { %>
                        <td><%=renderCell(x, y)%></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>
        <% if ( boss != null ) { %>
            <div>Strategy for boss <%=boss%> <a class="btn" id="save-dung" href="#"><%= haveStrategy ? 'Overwrite' : 'Create' %></a></div>
        <% } %>
    <% } else { %>
        <div>Not entered a dungeon</div>
    <% } %>
    <div><%=stateMsg%></div>
    <div>
        <div>Auto mode <%= aOn ? '' : 'not' %> started <% if(!aOn) { %> <a class="btn" id="auto-dung" href="#">Start</a> <% } %></div>
    </div>
</fieldset>
